.navbar-top
	color #fff
	background-color #4661aa
	
	a
		color #fff
	
.navbar-down
	color #000
	background-color #fff
		
	.btn-login
		color #fff
		background-color #4661AA
		
	form .pw
		position relative
		
	form .pw span
		color #fff
		position absolute

.header
	background-color #63c6f1
	
	.high
		min-height 600px
		background-image url("../img/imagen1.png")
		background-repeat no-repeat
		background-size cover
		background-position center

.hello
	color #fff
	
	h1
		letter-spacing 0.1em
	
	form .form-group .form-radio .form-radio-label
		font-size 18px

	p.crea
		font-size 24px
	
.btn-reg
	color #fff
	background-color #4661aa
	
section.contact div.contact-icons ul li
	color #fff
	
	a img
		max-width 32px
		margin 8px
	
.contact p, a
	color #757575
	font-size 18px
	
.contact h2
		color #4661aa
	
footer
	color #fff
	background-color #4661aa
	
	img
		max-width 60%